.DS_Store
._.DS_Store
000_*
*.o
calcOverlap
calcGS
calcGS-g
calcGS-middle
calcPT
calcPT-middle
MF_selfConsistent_calcGS
1_build_luka
2_build_local
Makefile_luka
Make_local
rok
solution*.h5
old_tests
2_quick_test_rok

