*~
.DS_Store
._.DS_Store
000_*
*.o
calcOverlap
calcOverlap-g
calcEnergy
calcEnergy-g
calcGS
calcGS-g
calcGS-middle
calcPT
calcPT-middle
MF_selfConsistent_calcGS
MF_selfConsistent_calcGS-g
1_build_luka
2_build_local
Makefile_luka
Make_local
rok
solution*.h5
old_tests
2_quick_test_rok
.vscode
